.pytest_cache
__pycache__
*/Lib
*/pyvenv.cfg
*/Scripts
*/Include
*/__pycache__
*.pyc
*.xlsx
*.csv
*.xml
*.zip
.cache

/ml/pycaret/share
/ml/pycaret/_skbuild
/ml/pycaret/etc

data_engineering/prefect/data/
data_engineering/apache_kafka/db/
data_engineering/apache_kafka/jars

*.db
*.png