.pytest_cache
/__pychache__
/settings/config.txt
/schemas
/apache_kafka/db
/apache_kafka/jars
*/Lib
*/pyvenv.cfg
*/Scripts
*/Include
*/__pychache__
*.pyc
/data_engineering/prefect/data
*.xlsx
*.csv
*.xml
*.zip

/ml/share
/ml/_skbuild
/ml/etc

*.db
*.png