body {
    margin:10px;
    font-family:sans-serif;
}
table, th, td{
    border:1px solid black;
    text-align:center;
}
table {
    border-collapse:collapse;
    table-layout:fixed;
    width:50%;
}
th, td {
    padding:20px;
}
th {
    letter-spacing:2px;
    background-color:#8adea6;
}
tr:nth-child(even) {
    background-color:#d3e8d9;
}
tr:nth-child(odd) {
    background-color:#c2d1c7;
}
nav.navbar ul {
    background-color: #333;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
/* ul being the container for the list items */
nav.navbar li {
    float: left;
}
/* li's inline display makes the list elements of the nav horizontal */
nav.navbar li a{
    display: block;
    padding: 16px 18px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav.navbar li a:hover{
    background-color: #111;
}